.showTile {
    border-radius: 20px;
    box-sizing: border-box;
    background: #2f2f2f;
    border: 1px solid #959595;
    display: inline-block;
    max-width: 300px !important;
    position: relative;
    margin: 20px;
}

.showTitle {
    font-size: 16px;
    font-weight: bold;
    color: #e9e7ff !important;
}

.boxContainer {
    padding: 5px 16px 16px 16px;
}

.showSummary {
    font-size: 10px;
    color: #959595 !important;
}

.showLanguage {
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px !important;
    color: #e9e7ff !important;
}

.image {
    min-width: 300px !important;
    border-radius: 20px;
    max-height: 300px;
    padding-right: 2px;
    object-fit: cover;
    transition: 0.4s;
}

.statusButton {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 800;
}

.hoverMenu {
    position: absolute;
    z-index: 200;
    height: 200;
    width: 298;
    margin-top: 80;
    top: 0;
    transition: 0.4s;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    backdrop-filter: blur(5px);
}
