body {
    background-color: black;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
p {
    margin: 0px !important;
    color: #3f3d56 !important;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal-content {
    border-radius: 20px;
    background-color: #2f2f2f;
    border: 2px solid #959595;
    color: #e9e7ff;
    border: 1px solid #959595;
    height: 80vh;
    overflow: scroll;
}

.close {
    color: white;
}

.close:hover {
    color: white;
}

.modal-header {
    border-bottom: 1px solid #51585f;
}

.modal-footer {
    border-top: 0.5px solid #51585f;
}

.modal-title {
    color: #e9e7ff;
}

.btn {
    margin: 5px !important;
}

.close {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px !important;
    padding-top: 5px !important;
}
